$bg-color-v1: grey;
$bg-color-v2: white;
$bg-color-v3: blue;
$bg-color-v4: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

$color-v1:#FFFFFF;
$color-v2:#00F3BB;
$color-v3:#060A24;
$color-v4:#0000EC;

$grid-column-width: 100px;
$grid-column-min-width: 600px;

$z-index-top: 999;

$time-ms-fast:150ms;
$time-ms-faster:250ms;
$time-ms-slow:400ms;

$line-height-title-s: 48px;
$line-height-p-s: 22px;
$line-height-s: 28px;
    

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-family-mono: 'IBM Plex Mono', monospace;
$font-family-sans: 'IBM Plex Sans', sans-serif;

$font-size-title-s: 36px;
$font-size-subtitle-s: 24px;
$font-size-button-s: 16px;
$font-size-p-s: 14px;

$font-size-title-m: 40px;
$font-size-title-m2: 48px;

$font-size-title-l: 64px;
$font-size-subtitle-l: 36px;
$font-size-button-l: 18px;
$font-size-p-l: 16px;

$max-width-mobile: 480px;
$max-width-tablet: 768px; 
$max-width-desktop: 1440px; 

$max-padding: 165px;
$max-padding-v2: 200px;
$max-padding-v3: 100px;
$max-padding-v4: 65px;

$max-margin: 165px;
$max-margin-v2: -165px;

$img-max-width: 104px;